@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
:root{
    --white: #f9f9f9;
    --green: #1A3D1F;
    --yellow: #eeb249;
    --grey: gray;
}


body {
  margin: 0;
  padding: 0;
  display: block;
}

table {
  width: 100vw;
  border-collapse: collapse;
  table-layout: auto;
  border-radius: 20px;
  overflow: hidden;
  border-radius: 10px;
  font-family: 'Glacial Indifference';
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td, tr {
    
    font-size: 1em;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  align-items: center;
 
  width: fit-content;
}

input, select{
    margin-left: 10%;
    font-size: 0.9em;
    display: flex;
    height: max-content;
    text-align: center;   
    font-family: 'Glacial Indifference';
    background-color: transparent;
    color: black;
    border: none;
    width: 3cm;
    background-color: #dbdbdb;
width: 110%;
max-width: 3.4cm;
}


input:focus{
    border: none;
}


input:disabled, select:disabled, option{
    margin-left: 10%;
    opacity: 1;
    text-decoration: none;
    display: flex;
    height: max-content;
    text-align: center;   
    font-family: 'Glacial Indifference';
    background-color: transparent;
    color: var(--green);
    border: none;
width: 110%;
min-width: 3.4cm;
}

.data{
    font-size: 0.9em;
} 

#yellow{
    color: var(--white);
  text-transform: uppercase;
    background-color: var(--yellow);
}

.confirm{
display:none;
}
i{
cursor:pointer;
}