@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root{
    --white: #f9f9f9;
    --green: #1A3D1F;
    --yellow:  #B9C394;
    --grey: gray;
}


.fade-in-title {
  opacity: 0;
  animation: fadeIn 0.6s ease-in forwards;
  animation-delay: 0.3s; 
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }}

body {
  margin: 0;
  padding: 0;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  border-radius: 20px;
  overflow: hidden;
  border-radius: 10px;
  font-family: 'Questrial';
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td, tr {
    
    font-size: 0.9em;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  align-items: center;
 
  width: fit-content;
}

input, select{
   
    font-size: 1.1em;
    opacity: 1;
    text-decoration: none;
    display: flex;
    height: max-content;
    text-align: center;   
    font-family: 'Questrial';
    background-color: #dbdbdb;
    color: var(--green);
    border: none;

width: 100%;
min-width: 3cm;
}


input:focus{
    border: 1px gray dotted;
}


input:disabled, select:disabled, option{
    
    font-size: 1.1em;
    opacity: 1;
    text-decoration: none;
    display: flex;
    height: max-content;
    text-align: center;   
    font-family: 'Questrial';
    background-color: transparent;
    color: var(--green);
    border: none;

width: 100%;
min-width: 3cm;
}

.data{
    font-size: 0.9em;
}
.email{
width:20%
}
#yellow{
    color: var(--white);
  text-transform: uppercase;
    background-color: var(--yellow);
}

.confirm{
display:none;
}
i{
cursor:pointer;
}
textarea::-webkit-scrollbar {
width: 0.2em;
}

textarea::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
background-color: var(--yellow);
outline: none;
}

textarea:disabled{
    
height: 3cm;
resize: none;
max-width: 5cm;
padding: 5px 10px 5px 10px;
border-radius: 10px; 
font-family: 'Questrial';
background-color: transparent;
color: black;
border: 1px #DADADA solid;  
  

}

label{
text-align: center;
align-items: center;
justify-content: center;
}
textarea{
resize: none;
height: 3cm;
max-width: 5cm;
padding: 5px 10px 5px 10px;
border-radius: 10px; 
font-family: 'Questrial';
background-color: #dbdbdb;
color: black;
border: 1px #DADADA solid;  
}