@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Berkshire+Swash&family=Questrial&display=swap');
*, :after, :before {
    box-sizing: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
:root {
    --cotainer-size: 84%;
    --side-spacing: 8%;
    --base-green: #1a3d1f;
    --soft-green: #87ab85;
    --base-yellow: #fdbe50;
    --base-brown: #85573f;
    --base-white: #ddd;

    --verde-V2: ##7e9995;
    --verde-V3: #afc5ae;
    --verde-V4: #7e9995;


    --title-font: 'Berkshire Swash', cursive !important;
    --body-font: 'Questrial', sans-serif !important;
    --base-font: 'Arapey', serif !important;

    --base-tam-font: 25pt;
    --min-tam-font: 16px;
}
.rotate-180 {
    transform: rotate(180deg);
}

.non-major-display{
    display: none;
}
body>* {
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}
.parallax {

    width: 100% !important;
    position: relative !important;
    overflow: hidden !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    height: 100%;
    background-attachment: fixed !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

.menor-container,
.menor-container_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallax::after {
    content: "" !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    z-index: 8 !important;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%) !important; */
}

.parallax-1 {
    background-image: url(../media/joia.webp);
    /*  background-image: url('https://previews.123rf.com/images/kivitimof/kivitimof1609/kivitimof160900041/62627645-green-background-from-plants-with-narrow-leaves-lengthwise.jpg'); */

}

body {
    word-wrap: break-word;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    box-sizing: border-box;
    width: 100vw !important;
    margin: 0 !important;
}

html {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar.IndexNavbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 8% !important;
    margin-top: 0px !important;
}

.bg-red {
    background-color: red !important;
}

.bg-blue {
    background-color: blue !important;
}



.owl-dots {
    display: none !important;
}

.alturaTela {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.left-0 {
    left: 0 !important;
}

.modal-content-cart {
    animation: slide-in-right 0.5s !important;
    justify-content: center;
    align-content: center;
    height: 100vh;
    right: 0;
    top: 0 !important;
    border: none !important;
    width: 80% !important;
    position: absolute !important;
    margin: 0 !important;
    background-color: hsla(0, 0%, 99.6%, .7) !important;
    -webkit-backdrop-filter: blur(30px) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 50px !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, .051);

}

.fade {
    background-color: transparent !important;
}

.modal-cart-dialog {
    margin: 0 !important;
    padding: 0 !important;
    width: 100vh !important;
    height: 100vw !important;
    width: 100vw !important;
    right: 0 !important;
    position: absolute !important;
}


.modal.modal-shop-cart.show {
    margin-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    flex-direction: row;
    overflow: hidden !important;
    justify-content: flex-end;
    /* Posiciona à direita */
    animation: slide-in-right 0.5s !important;
}

.modal.modal-shop-cart.hide {
    animation: slide-out-left 0.5s !important;
    overflow: hidden !important;
}

.number-items-cart {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    z-index: 100;
    right: -4.969px;
    top: -0.8878px;
    position: absolute;
    text-align: center;
    display: block;
    font-size: 15px;
    padding: -0.9px;
    background-color: var(--soft-green);
    color: var(--base-white);
}

.number-items-cart::after {
    content: "1";
}

.category-item {
    position: relative;
    width: 8rem;
    height: 15rem !important;
    margin-left: auto;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.category-item {
    position: relative;
    margin-bottom: 60px;
    text-align: center;
}

.produto-card-wrapper .category-item .category--img {
    border-radius: 1.3rem;
}

.product-img:hover {
    transform: scale(6) !important;
}

.category-item .category--img {
    width: 100%;
    height: 11.6rem;
    padding: 0 5%;
    border-radius: .72rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 99.6%, .7) !important;
    -webkit-backdrop-filter: blur(30px) !important;
    backdrop-filter: blur(10px) !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, .051);

    z-index: 1;
}

#product-img {
    width: 11.6rem !important;
}

.category-item .category--img {
    position: relative;
    margin-bottom: 17px;
    overflow: hidden;
}

.category-item .category--img .product-favorite {
    position: absolute;
    top: .6rem;
    right: .74rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1rem;
    cursor: pointer;
    transition: font-size 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.product-favorite:hover {
    animation: favoritar 1s infinite;
}

.category-item .category--img .add-to-cart {
    position: absolute;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
}

.shop-products-wrapper .category-item .add-to-cart {
    height: 1.44rem;
    width: 5.6rem;
}

.category-item .category--content {
    position: relative;
    top: calc(2px - 8%);
}

.category-item .category--content .category--title a {
    text-transform: capitalize;
    font-size: .8rem;
    font-weight: bold;
}

.category-item .category--title h3 a {
    color: var(--soft-green);
    font-family: var(--body-font);
    font-weight: bold;
}

.category-item .category--title h3 a:hover {
    text-decoration: none;
}

.category-item .category--price {
    color: #a1a1a1;
    font-size: 16px;
    font-weight: 700;
    margin-top: calc(8px - 9.5489%);
    font-family: var(--body-font);
    line-height: .6;
}
p,h1,h2,h3,h4,h5,h6,span{
    cursor: default !important;
}
.botao-adicionar {
    position: absolute;
    bottom: -100%;
    transition: bottom .5s cubic-bezier(0.47, 0, 0.745, 0.715);
    border-radius: 1.3rem !important;
    height: auto;
    width: 70%;
    background-color: #ddd !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.116);
}

.category--img:hover>.botao-adicionar {
    bottom: 10%;
}

.category--img:hover {
    background-color: #000;
}

.btn.sm-add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1.3rem !important;
    height: auto;
    padding: 0;
    width: 100%;
    background-color: #ffffff8e;
    color: var(--soft-green);
}

.sm-add-to-cart span {
    font-size: .7rem;
}

.owl-carousel .owl-item img {
    display: block;
    width: auto;
}

.zdex9 {
    z-index: 99999;
}

.zdex99 {
    z-index: 999999 !important;
}

@keyframes favoritar {

    0%,
    100% {
        font-size: 1rem;
    }

    50% {
        font-size: 1.3rem;
    }
}

footer {
    background-color: var(--soft-green);
    clip-path: circle(100% at 50% 50%);
    text-align: center;
    width: 100vw !important;
}
