/* geral */
body,
html {
    height: 100% !important;
    margin: 0 !important;
    padding: 0;
    background-color: #f0f0f0 !important;
}

.cont-3, .cont-2 {
    font-family: 'Questrial' !important;
    font-size: 1.1rem;
    padding-top: 1rem;
    text-align: justify;
    justify-content: space-between;
    color: #1a3d1f;
}

.title-2, .title-3 {
    font-size: 2rem;
    color: #1a3d1f;
    font-family: 'Berkshire Swash' !important;
}

/* section 1 */
.custom-section-1 {
    height: 100%;
    overflow: hidden;
}

.custom-img-1 {
  width: 100%;
  height: 100%;
  filter: brightness(0.6) !important;
}

.custom-text-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #1A3D1F;
}

.title-1 {
    font-family: 'Berkshire Swash' !important;
    font-size: 3.5rem;
    color: #f0f0f0 !important;
}

.sub-title-1 {
    color: #f0f0f0 !important;
    font-family: 'Questrial' !important;
}


/* section 2 */
.custom-section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
    padding-top: 6rem;
    margin-left: 6.5%;
}

.custom-text-2 {
    width: 90% !important;
    height: 100% !important;
}

.custom-img-2 img {
    width: 90% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* section 3 */
.custom-section-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
    padding-top: 3rem;
    margin-left: 5.5%;
}

.col-md-6.px-8.custom-col picture{
    display: flex;
    flex-direction: row;
    justify-content: right;
} 

.custom-text-3 {
    width: 90% !important;
    height: 100% !important;
}

.custom-img-3 img {
    width: 90% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* section 4 */
.custom-section-4 {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 8rem;
    padding-top: 6rem;
    overflow: hidden;
    position: relative;
}

.fullscreen-bg-4 {
    width: 100vw !important;
    height: 95vh !important;
    z-index: -2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custom-text-4 {
    position: absolute !important;
    top: 30%;
    z-index: 1;
    width: 25%;
    height: 38%;
    margin-right: 50%;
    font-family: 'Berkshire Swash' !important;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0ea;
    flex-direction: column;
}

.title-4 {
    font-family: 'Berkshire Swash' !important;
    color: #1a3d1f;
    text-align: center;
}

h4.title-4{
    font-size: 1.7rem !important;
}

.sub-title-4 {
    font-family: 'Questrial' !important;
    color: #1A3D1F;
    text-align: center;
    font-size: 1rem;
}

.btn-4 {
    background-color: transparent;
    border-radius: 30px;
    border: 1.6px solid #1a3d1ffb;
    color: #1A3D1F;
    outline: none !important;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Questrial' !important;
    margin-top: 7%;
    font-size: 13px;
    width: 60%;    
    transition: all .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.btn-4:hover, .btn-4::before, .btn-4:active, .btn-4::after  {
    background-color: #1a3d1fe2;
    outline: none !important;
    border: 1.6px solid #1a3d1fe2;
    color: #f0f0f0;
    font-weight: bold;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/* responsividade section */
@media (max-width: 820px) {
    /* geral */
    .custom-img-2, .custom-img-3 {
        display: none;
    }

    .cont-2, .cont-3 {
        font-size: 0.8rem;
    }
    
    .title-2, .title-3 {
        font-size: 1.7rem;
    }

    /* section 1 */
    .custom-section-1 {
        height: 100%;
        overflow: hidden;
        z-index: 1;
    }

    .custom-img-1 {
        height: 100vh !important;
        width: 100vh !important;
        overflow: hidden !important;
        width: calc(100% + 3rem) !important;
        object-fit: cover !important;
    }

    .custom-text-1 {
        position: absolute;
        text-align: center;
        justify-content: center !important;
        color: #1A3D1F;
        background-color: #f0f0f0 !important;
        flex-direction: column !important;
        border-radius: 30px 30px 0 0 !important;
        margin-top: 25% !important;
        width: 100% !important;
        height: calc(50% + 8rem) !important;
        -webkit-box-shadow: 0px -5px 6px 2px rgba(60,64,67,0.09); 
        box-shadow: 0px -5px 6px 2px rgba(60,64,67,0.09);
    }

    .title-1 {
        font-family: 'Berkshire Swash' !important;
        font-size: 2.5rem;
        margin-top: 15%;
        color: #1A3D1F !important;
    }

    .sub-title-1 {
        color: #1A3D1F !important;
        font-family: 'Questrial' !important;
        font-size: 1.1rem;
    }

    /* section 2 */
    .custom-section-2 {
        z-index: 4;
        margin-top: -15%;
    }

    .custom-text-2 {
        width: 85vw !important;
        height: 100% !important;
    }

    /* section 3 */
    .custom-text-3, .title-3, .custom-section-3 {
        text-align: right;
    }

    .custom-section-3 {
        margin-left: 5.5%;
        margin-top: -10%;
        z-index: 4;
    }

    .custom-text-3 {
        width: 85vw !important;
        height: 100% !important;
    }

    .cont-3 {
        text-align: justify;
    }

    /* section 4 */
    .custom-section-4 {
        margin-top: -15%;
    }

    .fullscreen-bg-4 {
        display: none;
    }
    
    .fullscreen-4 {
        width: 90vw !important;
        height: 80vh !important;
        z-index: -2;
        border-radius: 30px;
        filter: brightness(0.6);
        margin-bottom: 5%;
    }
    
    .custom-text-4 {
        width: 60%;
        height: 50%;
        background-color: transparent;
        margin-left: 50%;
        margin-top: -11%;
    }
    
    .title-4, .sub-title-4 {
        color: #f0f0f0;
    }

    .btn-4 {
        border: 1.6px solid #f0f0f0;
        color: #000000 !important;
        margin-top: 7%;
        font-size: 11px;
        width: 65%;    
    }
    
    .btn-4:hover, .btn-4::before, .btn-4:active, .btn-4::after  {
        background-color: #1a3d1fe2;
        border: 1.6px solid #1a3d1fe2;
        color: #f0f0f0 !important;
    }

}

@media (min-width: 820px) {
    .fullscreen-4 {
        display: none;
    }
}


/* menu */
.menu-fixed {
    margin: 0px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .051);
    top: 0;
    height: 80px;
    position: fixed;
    background-color: hsla(0, 0%, 99.6%, .7) !important;
    -webkit-backdrop-filter: blur(30px) !important;
    backdrop-filter: blur(10px) !important;
    z-index: 99999999;
}

.menu {
    background-color: transparent !important;
    position: absolute; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    margin: 15px 0px 0px;
    top: 0;
    z-index: 9999999999;
}

.logo {
    font-family: 'Berkshire Swash';
    font-size: 2.14rem;
    text-decoration: none !important;
    color: #f0f0f0 !important;
    cursor: pointer;
}

.logo:hover, .logo:active, .logo::before, .logo::after {
    font-family: 'Berkshire Swash';
    font-size: 2.14rem;
    text-decoration: none !important;
    color: #f0f0f0 !important;
}

.menu-links {
    justify-content: space-between !important;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 1.2%;
    text-decoration: none !important;
}

.menu-link {
    margin-left: 30px;
    font-family: "Questrial", sans-serif;
    font-size: 14px;
    color: #f0f0f0 !important;
    text-decoration: none !important;
}

.menu-link:hover {
    font-family: "Questrial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #f0f0f0 !important;
    text-decoration-color: #f0f0f0 !important;
}

a.menu-link:hover {
    color: #f0f0f0 !important;
    text-decoration: underline;
}

a.logo:hover {
    color: #f0f0f0 !important;
    text-decoration: underline;
}

.a-home, .a-shop, .a-sobre {
    position: relative;
    color: #f0f0f0 !important;
    text-decoration: underline;
}

.a-home:before, .a-shop:before, .a-sobre:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: #000 !important;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.a-home:hover:before, .a-shop:hover:before, .a-sobre:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.icon-bag, .icon-user {
    margin-top: -10px;
}

/* responsividade menu */
@media (min-width: 650px) {
    .btn-modal {
        display: none;
    }
}

@media (max-width: 650px) {
    .menu-links {
        display: none;
    }

    .modal-body {
        text-align: center;
        margin-top: -15px;
    }

    .menu-link {
        list-style: none;
        display: block;
        margin: 20px 0;
        text-align: center;
        text-decoration: none !important;
        color: #000 !important;
    }

    a.menu-link:hover {
        color: #000 !important;
        text-decoration: underline;
    }

    .btn-modal, .btn-modal:active, .btn-modal:hover, .btn-modal::before {
        border: none;
        background-color: transparent;
        border: transparent;
        box-shadow: none;
        outline: none;
        color: #f0f0f0 !important;
    }

    .btn-modal.transparent {
        color: transparent !important;
    }

    .modal-content {
        border-radius: 30px;
        border-style: none;
        background-color: rgba(240, 240, 240, 0.915);
    }

    .modal-dialog {
        position: fixed;
        top: 3%; 
        right: 10px;
        width: 45%; 
        height: 80%;
        margin: 0;
        transform: translate(0, 0);
    }
} 

/* barra de rolagem */
::-webkit-scrollbar {
    width: 7px;
    position: fixed;
    right: 0;
    z-index: 99999 !important;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: rgba(222, 222, 222, .75);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.5s 0.5s ease-out;
    transition: opacity 0.5s 0.5s ease-out;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner {
    background-color: transparent !important;
}

::selection {
    background-color: #87ab8548;
    color: #000;
}

/* footer geral */
footer {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

footer {
    background-color: #87ab85;
    clip-path: circle(100% at 50% 50%);
    text-align: center;
    width: 100% !important;
    overflow-x: hidden !important;
    margin-top: -9.5% !important;
}

.rem1 {
    font-size: 1rem !important;
}

.uppercase {
        text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.opacity-08 {
    opacity: 0.8 !important;
}

.gap5 {
    gap: 5%;
}

a {
    color: #000;
    text-decoration: none !important;
}

a {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 0, .2, 1);
    background-color: transparent;
    color: inherit;
    text-decoration: inherit;
}

.text-light {
    color: #f8f9fa !important;
}

/* inscrição e redes sociais */
.divColMdFooter {
    justify-content: left;
    align-items: initial;
    text-align: left !important;
}

.social__port a:hover {
    color: #fff;
}

.social__port a:hover {
    transform: scale(.8);
}

.social__port {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 5%;
}

.social__icon {
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
}

.social__icon svg {
    width: 1.3rem;
    height: 1.3rem;
}

.social__icon {
    font-size: 1rem;
}

.inputInscreva {
    background: transparent !important;
    border-radius: 5px !important;
    min-width: 5% !important;
}

.buttonInscreva {
    background: transparent !important;
    border: 1px solid white !important;
    border-radius: 5px !important;
}

.inputInscreva::placeholder{
    color: #abadb0;
    -webkit-text-fill-color: #abadb0 !important;
}

.copyright__port {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    opacity: .8;
}

.form-control.inputInscreva.color-white.white{
    color: white !important;
    opacity: .8 !important;
}

.superMajorAriaa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn.btn-primary.buttonInscreva.btn__footerInsc {
    transition: all .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.btn.btn-primary.buttonInscreva.btn__footerInsc:hover {
    background-color: white !important;
    color: #1b1f23;

}

/* navegação e links */
.rowNavFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: left;
    box-sizing: border-box;
    border: 0 solid #abadb0;
}

.container-pbDocPort {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul.list-unstyled li {
    transform: translateX(0px);
    color: inherit;
    transition: all .3s cubic-bezier(0.47, 0, 0.745, 0.715)
}

ul.list-unstyled li:hover {
    transform: translateX(5px);
    color: inherit;
    color: white;
}

.link__footer:hover {
    opacity: 1 !important;
    color: white;
}

/* responsividade footer */ 
@media (max-width:558px) {
    .row.rowNavFooter {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        align-items: flex-start;
        justify-content: center;
    }

    .col-md-6.col-12.superMajorAriaa.mb-3,
    .col-12.d-flex.flex-column.divColMdFooter.opacity-08.text-justify {
        padding: 0;
    }

    .divColMdFooter {
        left: 2.3% !important;
    }
}

@media (min-width: 768px) {
    .rowNavFooter,
    .superMajorAriaa {
        display: flex;
        justify-content: space-between;
    }

    .hidden_onMajorFooter {
        flex-direction: row; 
        justify-content: space-between !important;
    }

    .superMajorAriaa {
        width: 50% !important;
    }

    .column_footer {
        flex: 1;
    }

    .rowNavFooter {
        justify-content: space-between !important;
        flex-direction: row  !important;
    }

    .rowNavFooter .column_footer {
        position: relative;
        width: 100%;
        min-height: 1px; 
    }

    .cntt {
        right: 5% !important;
    }

    .expl {
        left: 5% !important;
    }

    .priv {
        left: 2% !important;
    }

    .text-end {
        margin-left: 5% !important;
    }
}

@media (max-width:980px) {
    .hiddenMobileMinor {
        display: none;
    }

    .hidden_onMobileFooter {
        display: none;
    }

    .hidden_onMajorFooter {
        display: block;
    }

    .col-12.d-flex.flex-column.divColMdFooter.opacity-08.text-justify {
        width: 100% !important;
    }
}

@media (min-width:980px) {
    .hidden_onMajorFooter {
        display: none;
    }
    
    .hidden_onMobileFooter {
        display: block;
    }
}
.fade-in-title {
    opacity: 0;
    animation: fadeIn 0.6s ease-in forwards;
    animation-delay: 0.5s; 
  }
  
  
.fade-in {
    opacity: 0;
    animation: fadeIn 0.4s ease-in forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }