<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Berkshire+Swash&family=Questrial&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Questrial&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/assets/css/docs.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="../assets/media/yara.ico" type="image/x-icon" sizes="64x64">
    <link rel="shortcut icon" href="../assets/media/yara.ico" type="image/x-icon" sizes="128x128">
    <link rel="shortcut icon" href="../assets/media/yara.ico" type="image/x-icon" sizes="32x32">
    <link rel="stylesheet" href="../assets/style/sobre.css">
    <title>Sobre</title>
</head>
<body class="fade-in">
    <!-- menu -->
    <header>
        <div class="menu">
          <a class="logo jsChangeColor" href="../index.php">
            Yara.
          </a>
          <div class="menu-links">
            <a class="menu-link a-home  jsChangeColor" href="../index.php">Início</a>
            <a class="menu-link a-shop  jsChangeColor" href="shop.php">Shop</a>
            <a class="menu-link a-sobre jsChangeColor" href="#">Sobre</a>
            <!-- ícone user -->
            <a class="menu-link jsChangeColor" href="meuperfil.php">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-user icon-tabler icon-tabler-user-circle" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
              </svg>
            </a>
            <!-- ícone carrinho -->
            <a class="menu-link jsChangeColor" href="carrinho.php">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-bag icon-tabler icon-tabler-shopping-bag" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z">
                </path>
                <path d="M9 11v-5a3 3 0 0 1 6 0v5"></path>
              </svg>
            </a>
        </div>
        <!-- área responsiva do menu -->
        <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <!-- ícone menu -->
            <svg xmlns="http://www.w3.org/2000/svg" class="jsChangeColor icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 6l16 0"></path>
            <path d="M4 12l16 0"></path>
            <path d="M4 18l16 0"></path>
            </svg>
        </button>
        <!-- modal -->
        <div class="modal fade modalMenu__mob" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modalJusti">
                        <button type="button" id="insideMobMenu__closeBTN" class="btn-close btn-modal mobileMenu__closeBTN" width="32" height="32" data-bs-dismiss="modal" aria-label="Close">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M18 6l-12 12" />
                                <path d="M6 6l12 12" /></svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a class="menu-link" href="../index.php">Home</a>
                        <a class="menu-link" href="shop.php">Shop</a>
                        <a class="menu-link" href="#">Sobre</a>
                        <a class="menu-link" href="meuperfil.php">Login</a>
                        <a class="menu-link" href="carrinho.php">Sacola</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>

    <!-- área imagem e texto 1-->
    <section class="custom-section-1">
      <!-- imagem -->
      <img class="custom-img-1 img-fluid" src="../assets/media/yara_background.png" alt="Imagem de fundo">
      <div class="custom-text-1 fade-in-title">
        <h1 class="text-center title-1"> Yara: Raízes que ecoam </h1>
        <h5 class="text-center sub-title-1"> Honrando a ancestralidade </h5>
      </div>
    </section>

    <!-- área imagem e texto 2 -->
    <section class="custom-section-2">
      <!-- imagem -->
      <div class="custom-img-2">
        <img class="img-fluid" src="../assets/media/prod-pedras.jpg" alt="Imagem">
      </div>
      <!-- texto -->
      <div class="col-md-6 custom-col">
        <div class="mb-4 custom-text-2">
            <h6 class="title-2">Nossa História</h6>
            <p class="cont-2">A história da Yara começou nos corações das florestas tropicais do Brasil, onde as tradições antigas de cuidados com a pele eram passadas de avós para mães, de mães para filhas. Em meio às folhas verdes e aos aromas exuberantes, a ideia de Yara começou a florescer.
            <br> Crescemos ouvindo histórias mágicas de uma deusa da água chamada Yara, que simbolizava a conexão entre a natureza e a feminilidade. Inspirada por essa lenda, decidimos canalizar essa energia ancestral para criar uma linha de produtos
            que nutrisse não apenas a pele, mas também a alma.  <br> Em nosso compromisso constante com a inovação, incorporamos tecnologias avançadas que elevam ainda mais a eficácia de nossos produtos, proporcionando uma experiência única de cuidados com a pele que une o melhor do antigo e do moderno.</p>
        </div>
      </div>
    </section>

    <!-- área imagem e texto 3 -->
    <section class="custom-section-3">
      <!-- texto -->
      <div class="col-md-6 custom-col">
        <div class="mb-4 custom-text-3">
           <h6 class="title-3">Tradição e Inovação</h6>
           <p class="cont-3"> Na Yara, combinamos os segredos de beleza antigos com a ciência moderna para criar produtos que são verdadeiramente mágicos. Cada item é 
           cuidadosamente formulado com ingredientes naturais, provenientes das riquezas da flora brasileira, respeitando a vida e o meio ambiente.
           Nosso compromisso com a sustentabilidade vai além das fórmulas. Somos uma marca vegana, livre de crueldade animal, e empregamos práticas e 
           embalagens eco-friendly para minimizar nosso impacto no planeta. Afinal, a conexão com a natureza é o que nos inspira e nos guia. 
           <br> Ao escolher Yara, você não está apenas investindo em produtos de qualidade; você está se tornando parte de uma comunidade que valoriza a autenticidade, a tradição e a autoexpressão.
           Seja parte da família Yara e celebre a beleza que transcende o tempo. Porque, para nós, a verdadeira beleza é aquela 
           que ecoa através das eras, uma beleza que é, e sempre será, eternamente Yara. </p>
        </div>
      </div>
      <!-- imagem -->
      <div class="custom-img-3">
        <img class="img-fluid" src="../assets/media/prod-flor.jpeg" alt="Imagem">
      </div>
    </section>

    <!-- área imagem e texto 4-->
    <section class="custom-section-4 position-relative">
      <div class="d-flex flex-column align-items-center">
          <!-- imagem -->
          <picture>
            <img class="img-fluid fullscreen-bg-4" src="../assets/media/bg-branco-planta.jpeg" alt="Sua Imagem">
          </picture>
          <picture>
            <img class="img-fluid fullscreen-4" src="../assets/media/bg-4-resp.jpeg" alt="Sua Imagem">
          </picture>
          <!-- texto -->
        <div class="custom-text-4 text-center-4 position-absolute d-flex align-items-center justify-content-center">
            <h4 class="title-4"> Transforme sua rotina, <br> realce sua beleza. </h4>
            <h3 class="sub-title-4"> Explore a coleção que potencializa <br> sua beleza diária </h3>
            <button type="button" class="btn btn-4">VER PRODUTOS</button>
        </div>
      </div>
    </section> 

    <!-- footer -->
    <footer onselectstart="return false" class="container-fluid text-light py-5" style="background-color: #1b1f23;">
      <!-- seção de navegação e links -->
        <div class="row">
          <div class="col-12 hidden_onMajorFooter mb-3">
              <div class="row rowNavFooter">
                  <!-- coluna explorar -->
                  <div class="column_footer">
                      <h4 class="rem1 uppercase bold">Explore</h4>
                      <ul class="list-unstyled">
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="../index.html">Home</a>
                          </li>
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="../view/shop.html">Shop</a>
                          </li>
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="#">Sobre</a>
                          </li>
                      </ul>
                  </div>
                  <!-- coluna contato -->
                  <div class="column_footer">
                      <h4 class="rem1 uppercase bold">Contato</h4>
                      <ul class="list-unstyled">
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" target="_blank"
                                  href="mailto:yaraskincare.corp@gmail.com?subject=Dúvida">info@yaracorp.com</a>
                          </li>
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" target="_blank"
                                  href="api.whatsapp.com/send?phone=+5511963208060">+55 11 98328-3252</a>
                          </li>
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" target="_blank" onclick="redirecionarParaMapa()">Av.
                                  Magalhães de Castro, 12.000</a>
                          </li>
                      </ul>
                  </div>
                  <!-- coluna privacidade -->
                  <div class="column_footer">
                      <h4 class="rem1 uppercase bold">Privacidade</h4>
                      <ul class="list-unstyled">
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="assets/terms/ENTREGA.pdf">Entrega & Devolução</a>
                          </li>
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="assets/terms/TERMOS.pdf">Termos & condições</a>
                          </li>
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="assets/terms/PRIVACIDADE.pdf">Política de Privacidade</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- seção de inscrição e redes sociais -->
          <div class="col-md-6 col-12 superMajorAriaa mb-3" style="width: 100%;">
              <div class="col-12 d-flex flex-column divColMdFooter opacity-08 text-justify" style="width: 70%;">
                  <!-- form inscrição -->
                  <p style="letter-spacing: 0.2px;"> Junte-se à família Yara: Inscreva-se agora para receber notificações exclusivas!</p>
                  <div class="input-group mb-3 d-flex gap5">
                      <input type="text" class="form-control inputInscreva color-white white" placeholder="Seu telefone">
                      <button class="btn btn-primary buttonInscreva btn__footerInsc" type="button">Inscrever</button>
                  </div>
                  <!-- ícone wpp -->
                  <div class="social__port">
                      <a href="https://api.whatsapp.com/send?phone=+5511963208060" target="_blank"
                          class="social__icon">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp"
                              width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                              fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
                              <path
                                  d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1">
                              </path>
                          </svg>
                      </a>
                      <!-- ícone twt-->
                      <a href="#" class="social__icon" target="_blank">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x"
                              width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                              fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
                              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
                          </svg>
                      </a>
                      <!-- ícone ig -->
                      <a href="https://www.instagram.com/yaraclass/" class="social__icon" target="_blank">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                              width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                              fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z">
                              </path>
                              <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                              <path d="M16.5 7.5l0 .01"></path>
                          </svg>
                      </a>
                  </div>
              </div>
          </div>
          <!-- seção responsiva -->
          <div class="col-md-6 col-12 hidden_onMobileFooter">
              <div class="row rowNavFooter">
                  <div class="column_footer expl">
                      <h4 class="rem1 uppercase bold">Explore</h4>
                      <ul class="list-unstyled">
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="../index.html">Home</a>
                          </li>
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="../view/shop.html">Shop</a>
                          </li>
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="#">Sobre</a>
                          </li>
                      </ul>
                  </div>
                  <div class="column_footer cntt">
                      <h4 class="rem1 uppercase bold">Contato</h4>
                      <ul class="list-unstyled">
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" target="_blank"
                                  href="mailto:yaraskincare.corp@gmail.com?subject=Dúvida">info@yaracorp.com</a>
                          </li>
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" target="_blank"
                                  href="https://api.whatsapp.com/send?phone=+5511963208060">+55 11 98328-3252</a>
                          </li>
                          <li class="opacity-08" style="cursor: pointer;">
                              <a class="opacity-08 link__footer" target="_blank"
                                  onclick="redirecionarParaMapa()">Shopping Cidade Jardim</a>
                          </li>
                      </ul>
                  </div>
                  <div class="column_footer piv">
                      <h4 class="rem1 uppercase bold">Privacidade</h4>
                      <ul class="list-unstyled">
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="assets/terms/ENTREGA.pdf">Entrega & Devolução</a>
                          </li>
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="assets/terms/TERMOS.pdf">Termos & condições</a>
                          </li>
                          <li class="opacity-08">
                              <a class="opacity-08 link__footer" href="assets/terms/PRIVACIDADE.pdf">Política de Privacidade</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
        <!-- rodapé inferior -->
        <div class="container-pbDocPort mt-4">
          <span class="copyright__port"> © 2023 Yara · All Rights Reserved </span>
          <span class="text-end"> Yara Corporation </span>
        </div>
    </footer>

<!-- java script menu -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
      var btnModal = document.querySelector('.btn-modal');
      var modal = new bootstrap.Modal(document.getElementById('exampleModal'));

      btnModal.addEventListener('click', function () {
        modal.show();
        btnModal.classList.add('transparent');
      });
  
      modal._element.addEventListener('hidden.bs.modal', function () {
        btnModal.classList.remove('transparent');
      });
    });
</script>

<script>
  window.addEventListener("scroll", function () {
    var menu = document.querySelector(".menu") //menu
    var links = document.querySelectorAll(".jsChangeColor") //classe dos links
    var scrollPosition = window.scrollY; //posição do scroll vertical
    var tel_tam = window.innerWidth //width da tela em px
    if (tel_tam >= 1000) { //se width for maior ou igual a 1000px
      if (scrollPosition > 150) { //se scroll for maior que 150px
        menu.classList.add("fixed") //adiciona classe fixed no menu
        menu.style.top = "0%" //deixa top = 0%
        links.forEach((element, index) => { //forEach dos links
          element.style.color = "#000"; //altera a cor para preto
        })
      } else { //se scrollPosition for < 150:
        menu.classList.remove("fixed") //remove classe fixed do mennu
        menu.style.top = "2%" //deixa top = 2%
        links.forEach((element, index) => { //forEach dos links
          element.style.color = "#fff"; //atera a cor para branco
        })
      }
    } else { //se width da tela for menor que 1000px
      menu.classList.remove("fixed") //remove a classe fixed para que o menu nunca fique fixed
      menu.style.top = "2%" //deixa top = 2%
      links.forEach((element, index) => { //forEach dos links
        element.style.color = "#fff"; //atera a cor para branco
      })
    }
  });
  //FUNÇÃO DE ALTERAÇÃO DE COR AO INICIAR PÁGINA
  function menu__onload() {
    var links = document.querySelectorAll(".jsChangeColor")
    links.forEach((element, index) => {
      element.style.color = "#fff";
    })
  }
</script>

<!-- javascript endereço footer -->
<script>
    function redirecionarParaMapa() {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                var destino =
                    "Shopping+Cidade+Jardim+-+Av.+Magalhães+de+Castro,+12.000+-+Cidade+Jardim,+São+Paulo+-+SP,+05502-001"; // Substitua com o endereço de destino
                var url = `https://www.google.com/maps/dir/${latitude},${longitude}/${destino}`;
                window.open(url, "_blank");
            });
        } else {
            var url =
                `https://www.google.com/maps/place/Av.+Magalh%C3%A3es+de+Castro,+12.000+-+Jardim+Panorama,+S%C3%A3o+Paulo+-+SP,+05676-120/@-23.5987839,-46.6974921,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce57307be2503b:0x12bb82312323efb0!8m2!3d-23.5987839!4d-46.6974921!16s%2Fg%2F11bw3ws2wn?entry=ttu`
            window.open(url, "_blank");
        }
    }
</script>
</body>
</html>