<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Berkshire+Swash&family=Questrial&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Questrial&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/assets/css/docs.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/style/sobre.css">
    <link rel="stylesheet" href="../assets/style/globalV2.css">
    <title>Sobre</title>
</head>
<body>
    <!-- menu -->
    <header>
      <div class="menu">
          <a class="logo" href="#">
              Yara.
          </a>
          <div class="menu-links">
              <a class="menu-link a-home" href="#">Home</a>
              <a class="menu-link a-shop" href="#">Shop</a>
              <a class="menu-link a-sobre" href="#">Sobre</a>
              <!-- ícone user -->
              <a class="menu-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon-user icon-tabler icon-tabler-user-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                      <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                      <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                  </svg>
              </a>
              <!-- ícone carrinho -->
              <a class="menu-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon-bag icon-tabler icon-tabler-shopping-bag" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z"></path>
                      <path d="M9 11v-5a3 3 0 0 1 6 0v5"></path>
                   </svg>
              </a>
          </div>

       <!-- área responsiva do menu -->
       <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: #000">
           <!-- ícone menu -->
           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M4 6l16 0"></path>
               <path d="M4 12l16 0"></path>
               <path d="M4 18l16 0"></path>
            </svg>
       </button>
         <!-- modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="btn-close btn-modal" width="32" height="32" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                     <a class="menu-link" href="#">Home</a>
                     <a class="menu-link" href="#">Shop</a>
                     <a class="menu-link" href="#">Sobre</a>
                     <a class="menu-link" href="#">Login</a>
                     <a class="menu-link" href="#">Sacola</a>
               </div>
             </div>
           </div>
         </div>
      </div>
    </header> 

    <!-- área imagem e texto 1-->
    <section class="custom-section-1">
      <!-- imagem -->
      <img class="custom-img-1 img-fluid" src="../assets/media/bg-1.jpeg" alt="Imagem de fundo">
      <div class="custom-text-1">
        <h1 class="text-center title-1"> Yara: Raízes que ecoam </h1>
        <h5 class="text-center subtitle-1"> Honrando a ancestralidade </h5>
      </div>
    </section>

    <!-- área imagem e texto 2 -->
    <section class="custom-section-2">
      <!-- imagem -->
      <div class="custom-img-2">
        <img class="img-fluid" src="../assets/media/img1.png" alt="Imagem">
      </div>
      <!-- texto -->
      <div class="col-md-6 custom-col">
        <div class="mb-4 custom-text-2">
            <h6>Nossa História</h6>
            <p>A história da Yara começou nos corações das florestas tropicais do Brasil, onde as tradições antigas de cuidados com a pele eram passadas de avós para mães, de mães para filhas. Em meio às folhas verdes e aos aromas exuberantes, a ideia de Yara começou a florescer.
            <br> Crescemos ouvindo histórias mágicas de uma deusa da água chamada Yara, que simbolizava a conexão entre a natureza e a feminilidade. Inspirada por essa lenda, decidimos canalizar essa energia ancestral para criar uma linha de produtos
            que nutrisse não apenas a pele, mas também a alma.  <br> Em nosso compromisso constante com a inovação, incorporamos tecnologias avançadas que elevam ainda mais a eficácia de nossos produtos, proporcionando uma experiência única de cuidados com a pele que une o melhor do antigo e do moderno.</p>
        </div>
      </div>
    </section>

    <!-- área imagem e texto 3 -->
    <section class="custom-section-3">
      <!-- texto -->
      <div class="col-md-6 custom-col">
        <div class="mb-4 custom-text-3">
           <h6 class="title-3">Tradição e Inovação</h6>
           <p class="cont-3"> Na Yara, combinamos os segredos de beleza antigos com a ciência moderna para criar produtos que são verdadeiramente mágicos. Cada item é 
           cuidadosamente formulado com ingredientes naturais, provenientes das riquezas da flora brasileira, respeitando a vida e o meio ambiente.
           Nosso compromisso com a sustentabilidade vai além das fórmulas. Somos uma marca vegana, livre de crueldade animal, e empregamos práticas e 
           embalagens eco-friendly para minimizar nosso impacto no planeta. Afinal, a conexão com a natureza é o que nos inspira e nos guia. 
           <br> Ao escolher Yara, você não está apenas investindo em produtos de qualidade; você está se tornando parte de uma comunidade que valoriza a autenticidade, a tradição e a autoexpressão.
           Seja parte da família Yara e celebre a beleza que transcende o tempo. Porque, para nós, a verdadeira beleza é aquela 
           que ecoa através das eras, uma beleza que é, e sempre será, eternamente Yara. </p>
        </div>
      </div>
      <!-- imagem -->
      <div class="custom-img-3">
        <img class="img-fluid" src="../assets/media/img1.png" alt="Imagem">
      </div>
    </section>

    <!-- área imagem e texto 4-->
    <section class="custom-section-4 position-relative">
      <div class="d-flex flex-column align-items-center">
          <!-- imagem -->
          <picture>
            <img class="img-fluid fullscreen-bg-4" src="../assets/media/bg-4.png" alt="Sua Imagem">
          </picture>
          <picture>
            <img class="img-fluid fullscreen-4" src="../assets/media/bg-4-resp.jpeg" alt="Sua Imagem">
          </picture>
          <!-- texto -->
        <div class="custom-text-4 text-center-4 position-absolute d-flex align-items-center justify-content-center">
            <h4 style="font-size: 1.7rem;"> Transforme sua rotina, <br> realce sua beleza. </h4>
            <h3> Explore a coleção que potencializa <br> sua beleza diária </h3>
            <button type="button" class="btn btn-4">VER PRODUTOS</button>
        </div>
      </div>
    </section> 
</body>
</html>